@model List<CustomerServicePortal.Models.ABC_DashBoardModel> 

<style>
    .cardBody-custom {
        min-height: 80px;
    }
    .pro-img img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        min-width: 50px;
        margin: 0px 10px 0px 0px;
    }
</style>
<section>

    <div class="container">

        <div class="row">
            <div class="report w-100 mb-0">
                <div class="col-12 p-0 d-flex justify-content-center">
                    @using (Html.BeginForm("MemebersList", "Claims", FormMethod.Post))
                    {
                    <div class="filter">
                        <label for="">Enter Name, ID or SSN</label>
                        <input type="hidden"  name="GlobalSearch" value="true">
                        <input type="text" id="SearchMember" name="SearchMember">
                        <input type="submit" value="Search">
                    </div>
                    }
                    </div>
                    
            </div>

            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-2">
                    <a href="@Url.Action("Index", "Home", new { Client = item.Client })">
                        <div class="card">
                            <div class="card-body cardBody-custom">
                                <div class="card-pro">
                                    <div class="cardPro-content d-flex align-items-center">
                                        <div class="pro-img">
                                            <img src="~/Content/img/logo/@(item.logo)" alt="">
                                        </div>
                                        <h6 class="card-title text-uppercase text-center m-0">@item.Fund</h6>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
            }


        </div>
    </div>
</section>


