<div class="banner" style="background: url('Content/img/@((Session["LayoutDetails"] as CustomerServicePortal.Models.LayoutModel).BackgroundImg)');">


    <!--wrapColumn-->
    <div class="wrapColumn">
        <div class="column">
            <h1>
                @((Session["LayoutDetails"] as CustomerServicePortal.Models.LayoutModel).HeaderTitle)
            </h1>
        </div>
        <div class="column">
            <div class="tabs">
                <div class="column">
                    <a href="@Url.Action("Index","Claims")">
                        <span>
                            <img src="~/Content/img/icon-02.png" alt="" />
                        </span>
                        <strong>CLAIMS</strong>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!--/wrapColumn-->
</div>
<!--/banner-->

<div class="healthwelfare">
    <div class="container">
        <h3>Health and Welfare</h3>
        <p>All Health and Welfare related inquiries and services</p>
        <a href="#">Claims</a>
    </div>
</div>