@model CustomerServicePortal.Models.LayoutModel

<div class="header" id="header">
    <div class="container">
        <div class="logo">
            <img src="~/Content/img/logo/@(Model.Headerlogo)" alt="" />
            <h1>@Model.HeaderTitle</h1>
        </div>

        <div class="userProfile">
            <div><a href="#"><i class="fa fa-caret-down" aria-hidden="true"></i> Hi Ryan Jones</a></div>
            <div class="userimage">
                <img src="~/Content/img/user.png" alt="" />
            </div>
            <div class="user-popup-main">

                <div class="user-popup">
                    <div class="user-small">
                        <img class="img-fluid" src="~/Content/img/user.png" alt="">
                    </div>

                    <h6>@User.Identity.Name</h6>
                    <div class="option-block">
                        <ul>
                            <li class="pwdModal">
                                <a class="dropdown-item" data-toggle="modal" data-target="#PasswordChangeModal">
                                    Change Password
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Logout","Account")">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PasswordCHangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            @{
                Html.RenderPartial("_ChangePasswordPartial", new CustomerServicePortal.Models.ChangepassWord());
            }

        </div>
    </div>
</div>



